.footer-container {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 400px;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 100%;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 554px 200px;
  transform-origin: 554px 200px;
  caret-color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/wood.jpg") repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(255, 255, 255);
  font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(255, 255, 255) none 0px;

  #DIV_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 40px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 554px 20px;
    transform-origin: 554px 20px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/footerblackstripe.png") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_2*/

  #DIV_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 245px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 122.5px;
    transform-origin: 485px 122.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 69px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_3*/

  #DIV_3:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3:after*/

  #DIV_3:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_3:before*/

  #DIV_4 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 165px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 82.5px;
    transform-origin: 485px 82.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px -15px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_4*/

  #DIV_4:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_4:after*/

  #DIV_4:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_4:before*/

  #DIV_5 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 128px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 121.25px 64px;
    transform-origin: 121.25px 64px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_5*/

  #SPAN_6 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 22px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 106.25px 11px;
    transform-origin: 106.25px 11px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#SPAN_6*/

  #DIV_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 96px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 106.25px 48px;
    transform-origin: 106.25px 48px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_7*/

  #A_8 {
    background-position: 6px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 35px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 17.5px 21px;
    transform-origin: 17.5px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll 6px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_8*/

  #A_9 {
    background-position: -124px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 30px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 15px 21px;
    transform-origin: 15px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -124px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_9*/

  #A_10 {
    background-position: -160px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.5px 21px;
    transform-origin: 21.5px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -160px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_10*/

  #A_11 {
    background-position: -205px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.5px 21px;
    transform-origin: 21.5px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -205px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_11*/

  #A_12 {
    background-position: -29px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.5px 21px;
    transform-origin: 21.5px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -29px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_12*/

  #A_13 {
    background-position: -72px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.5px 21px;
    transform-origin: 21.5px 21px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -72px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_13*/

  #DIV_14 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 165px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 161.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 80.8281px 82.5px;
    transform-origin: 80.8281px 82.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_14*/

  #H2_15, #H2_32, #H2_43 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 18px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 9px;
    transform-origin: 65.8281px 9px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 17px / 18.7px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#H2_15, #H2_32, #H2_43*/

  #UL_16 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 141px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 70.5px;
    transform-origin: 65.8281px 70.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_16*/

  #LI_17, #LI_19, #LI_21, #LI_23, #LI_25, #LI_27, #LI_29, #LI_36, #LI_45, #LI_47, #LI_49, #LI_51, #LI_53 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 7.5px;
    transform-origin: 65.8281px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#LI_17, #LI_19, #LI_21, #LI_23, #LI_25, #LI_27, #LI_29, #LI_36, #LI_45, #LI_47, #LI_49, #LI_51, #LI_53*/

  #A_18, #A_20, #A_24, #A_28, #A_35, #A_39, #A_41, #A_46, #A_50, #A_54, #A_56, #A_61, #A_64, #A_67 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_18, #A_20, #A_24, #A_28, #A_35, #A_39, #A_41, #A_46, #A_50, #A_54, #A_56, #A_61, #A_64, #A_67*/

  #A_22, #A_26, #A_37, #A_48 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_22, #A_26, #A_37, #A_48*/

  #A_30, #A_52 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_30, #A_52*/

  #DIV_31 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 162px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 161.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 80.8281px 81px;
    transform-origin: 80.8281px 81px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_31*/

  #UL_33 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 138px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 69px;
    transform-origin: 65.8281px 69px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_33*/

  #LI_34 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 45px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 22.5px;
    transform-origin: 65.8281px 22.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#LI_34*/

  #LI_38, #LI_40, #LI_55 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 30px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 15px;
    transform-origin: 65.8281px 15px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#LI_38, #LI_40, #LI_55*/

  #DIV_42 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 159px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 161.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 80.8281px 79.5px;
    transform-origin: 80.8281px 79.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_42*/

  #UL_44 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 135px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 131.656px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 65.8281px 67.5px;
    transform-origin: 65.8281px 67.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_44*/

  #DIV_57 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 165px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 242.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 121.25px 82.5px;
    transform-origin: 121.25px 82.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_57*/

  #H2_58 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 36px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 212.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 106.25px 18px;
    transform-origin: 106.25px 18px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 17px / 18.7px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#H2_58*/

  #UL_59 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 123px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 212.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 106.25px 61.5px;
    transform-origin: 106.25px 61.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_59*/

  #LI_60, #LI_63, #LI_66 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 37px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 212.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 106.25px 18.5px;
    transform-origin: 106.25px 18.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#LI_60, #LI_63, #LI_66*/

  #IMG_62, #IMG_65 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 37px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 116px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 58px 18.5px;
    transform-origin: 58px 18.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#IMG_62, #IMG_65*/

  #IMG_68 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 37px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 116px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 58px 18.5px;
    transform-origin: 58px 18.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#IMG_68*/

  #DIV_69 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px -15px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_69*/

  #DIV_69:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: table;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_69:after*/

  #DIV_69:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_69:before*/

  #DIV_70 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: auto;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 25%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_70*/

  #SPAN_71 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#SPAN_71*/

  #DIV_72 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_72*/

  #A_73 {
    background-position: 6px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 35px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll 6px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_73*/

  #A_74 {
    background-position: -124px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 30px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -124px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_74*/

  #A_75 {
    background-position: -160px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -160px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_75*/

  #A_76 {
    background-position: -205px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -205px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_76*/

  #A_77 {
    background-position: -29px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -29px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_77*/

  #A_78 {
    background-position: -72px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 42px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 43px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("https://locations.wendys.com/images/nav/sprite_social.png") no-repeat scroll -72px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_78*/

  #DIV_79, #DIV_96, #DIV_107 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: auto;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 16.6667%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_79, #DIV_96, #DIV_107*/

  #H2_80, #H2_97, #H2_108 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 17px / 18.7px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#H2_80, #H2_97, #H2_108*/

  #H2_80:before, #H2_97:before, #H2_108:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 17px / 18.7px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#H2_80:before, #H2_97:before, #H2_108:before*/

  #UL_81, #UL_98, #UL_109 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_81, #UL_98, #UL_109*/

  #LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_99, #LI_101, #LI_103, #LI_105, #LI_110, #LI_112, #LI_114, #LI_116, #LI_118, #LI_120, #LI_125, #LI_128, #LI_131 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_99, #LI_101, #LI_103, #LI_105, #LI_110, #LI_112, #LI_114, #LI_116, #LI_118, #LI_120, #LI_125, #LI_128, #LI_131*/

  #A_83, #A_85, #A_89, #A_93, #A_100, #A_106, #A_113, #A_117, #A_121, #A_126, #A_129, #A_132 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_83, #A_85, #A_89, #A_93, #A_100, #A_106, #A_113, #A_117, #A_121, #A_126, #A_129, #A_132*/

  #A_87, #A_91, #A_102, #A_111, #A_119 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_87, #A_91, #A_102, #A_111, #A_119*/

  #A_95, #A_115 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_95, #A_115*/

  #A_104 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: auto;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_104*/

  #DIV_122 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: auto;
    min-height: 1px;
    position: relative;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 25%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_122*/

  #H2_123 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 17px / 18.7px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#H2_123*/

  #UL_124 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: auto;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / 22.8571px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#UL_124*/

  #IMG_127, #IMG_130 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#IMG_127, #IMG_130*/

  #IMG_133 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / 15px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#IMG_133*/

  #DIV_134 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 60px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 970px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 485px 30px;
    transform-origin: 485px 30px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px -15px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_134*/

  #DIV_134:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_134:after*/

  #DIV_134:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    height: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 0px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#DIV_134:before*/

  #DIV_135 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 40px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 727.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 363.75px 20px;
    transform-origin: 363.75px 20px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 242.5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_135*/

  #SPAN_136, #BR_137, #SPAN_139 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#SPAN_136, #BR_137, #SPAN_139*/

  #SPAN_138 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#SPAN_138*/

  #A_140 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 20px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 91.25px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 45.625px 10px;
    transform-origin: 45.625px 10px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#A_140*/

  #DIV_141 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 20px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 727.5px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 363.75px 10px;
    transform-origin: 363.75px 10px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 242.5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
  }/*#DIV_141*/

  #A_142, #A_143, #A_145 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 5px 0px 0px;
  }/*#A_142, #A_143, #A_145*/

  #A_144 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 5px 0px 0px;
  }/*#A_144*/

  #A_146 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 20px NeutrafaceText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 5px 0px 0px;
  }/*#A_146*/


}